<!doctype html>
<html>
    <head>
        <title>{{title}}</title>

        <style type="text/css">
            .error {
                color: red;
                font-style: italic;
            }
        </style>

    </head>
<body>

<!--Insert the two links here, these need to be fixed so that they work properly-->
<form method="POST" action="/blog" style="display:inline-block;">
<a href='/blog'>Main Blog Page</a></form>

<form method="POST" action="/newpost" style="display:inline-block;">
<a href='/newpost'>Add a Blog Entry</a></form>


<h1><center>{{title}}</center></h1>

    {% block content %}
    {% endblock %}

</body>
</html>