<!doctype html>
<html>
    <head>
        <title>{{title}}</title>

        <style type="text/css">
            .error {
                color: red;
                font-style: italic;
            }
        </style>

    </head>
<body>

<form method =  "Post" action = "/"> <!--This could be aligned better on the page.-->
    <a href='/'>Home</a>
</form>


<div align = "center"> <!--This could be aligned better on the page.-->
    <a href='/login'>Login</a>
    <a href='/logout'>Log Out</a>
</div>


<form method="POST" action="/blog" style="display:inline-block;">
<a href='/blog'>All Blogs</a></form>

<form method="POST" action="/newpost" style="display:inline-block;">
<a href='/newpost'>Add a Blog Entry</a></form>


    {% with messages = get_flashed_messages(with_categories=True) %}
        <ul>
        {% for category,message in messages %}
            <li class="{{category}}">{{message}}</li>
        {% endfor %}
        </ul>
    {% endwith %}

    {% block content %}
    {% endblock %}

</body>
</html>