{% extends "base.html" %}
<!----First, set up the blog so that the "add a new post" form and the blog listings are on the same page, as 
# with Get It Done!, and then separate those portions into separate routes, handler classes, and templates. 
# For the moment, when a user submits a new post, redirect them to the main blog page.-->

{% block content %}
    <!--form method='post'>
        <label>
            Title for your new blog:
            <p>
            <input type="text" name="blog_title" />
        </label>
        <p>
        <label>
            Your new blog:
            <p>
            <textarea name="blog_body"></textarea> <!--Modify to make bigger in size
        </label>
        <p>
        <input type="submit" value='Add Entry' />
    </form>

    <hr /> -->

    <!--{% if blogs|length == 0 %}
    <hr>
    {% else %}

        <ul>
            {% for blog in blogs %}
            <li>{{blog.name}}
                <form method="POST" action="/blog" style="display:inline-block;">
                    <input type="hidden" name="blog-id" value="{{blog.id}}" />
                    <!--input type="submit" value="Done!" /> <!--Modify appropriately, shouldn't say done really
                </form>
            </li>
            {% endfor %}
        </ul>

    {% endif %}-->
    
        {% for blog in blogs %}
            <h2>{{blog.title}}</h2>
            {{blog.body}}
            <hr>
        {% endfor %}

{% endblock %}