{% extends "base.html" %}
<!----First, set up the blog so that the "add a new post" form and the blog listings are on the same page, as 
# with Get It Done!, and then separate those portions into separate routes, handler classes, and templates. 
# For the moment, when a user submits a new post, redirect them to the main blog page.-->

{% block content %}
    <form action = "/" method='POST'>
        <label>
            Title for your new blog:
            <p>
            <input type="text" name="blog_title" />
            <span class="error">{{title_error}}</span>
        </label>
        <p>
        <label>
            Your new blog:
            <p>
            <textarea name="blog_body"></textarea> <!--Modify to make bigger in size-->
            <span class="error">{{body_error}}</span>
        </label>
        <p>
        <input type="submit" value='Add Entry' />
    </form>

{% endblock %}