{% extends "base.html" %}

{% block content %}
<!--When a user submits a new post, redirect them to the main blog page.-->
    <form action = "/displaypost" method='POST'> <!--CHanged form action from /-->
        <label>
            Title for your new blog:
            <p>
            <input type="text" name="blog_title" />
            <span class="error">{{title_error}}</span>
        </label>
        <p>
        <label>
            Your new blog:
            <p>
            <textarea rows = "10" cols = "50" name="blog_body"></textarea> <!--Modify to make bigger in size-->
            <span class="error">{{body_error}}</span>
        </label>
        <p>
        <input type="submit" value='Add Entry' />
    </form>

{% endblock %}